body{
	background-image: url(image/purple.jpg);
	background-attachment: fixed;
	background-position:center bottom;
	background-size: cover;
	background-repeat: repeat;
}
#title {
	text-align:center;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	text-shadow: 3px 3px 3px blue;
	color: black;
	background-color:snow;
	font-size:2em;
	letter-spacing:.2em;
	width:1000px;
	margin:auto;
}
p {
	font-size: 1.2em;
}
#top_nav{
	text-align:right;
}
.top_nav_item:hover {
	color: yellow;
	font-size: 1.1em;
	
 }

.top_nav_item { 
 	margin:20px;
 	color:white;
 	font-size: 1.2em;
 	text-decoration:none;
}

#boxshadow {
    padding:20px;

}

#current_page {
	border-bottom: 3px solid yellow;
}

#border {
    width: 900px;
    border: 25px solid blue;
    padding: 25px;
    margin: auto;
    height:600px;
}

.picture {
	
    border: 1px solid #8a4419;
    border-style: inset;
    box-shadow: 10px 10px grey;
    float:left;
    margin-right: 40px;

}

.hello {
	color: white;
	letter-spacing: 2px;
}